@charset "UTF-8";

/*

   EM HTML id / EM CSS # (Para um elemtento)
   EM HTML class / EM CSS . (Para vários elementos)

*/

body{
    background-color: #78fa8375;
}

h1{
    color: #2A572D;
}
h1#principal{
    background-color: #2A572D;
    color: white;
    text-align: center;

}
h2{
    color: #3D8043;
}

.basico{
    color: #408846;
}

.intermediario{
    color:   #8f8e44;
}

.avancado{
    color: #8b4242;
}